---
import { getCollection } from "astro:content";
const posts = (await getCollection("blog"));
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro ブログ</title>
  </head>
  <body>
    <h1>ブログ</h1>
    <ul>
      {posts.map((post) => (
      <li>
        <a href={`/${post.slug}`}>
          <article>
            <p>{post.data.title}</p>
          </article>
        </a>
      </li>
      ))}
    </ul>
  </body>

</html>
